version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  unit-test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install:
          node-version: '16'
      - run: npm ci
      - run: npm test

workflows:
  test:
    jobs:
      - unit-test
